/*==============================
	Form
==============================*/
.form {
  background-color: #28282d;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 1000px;
  align-self: center;
}

.form-center {
  display: flex;
  justify-content: center;
}

.form .row {
  margin-right: -10px;
  margin-left: -10px;
}

.form [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

.additionalDetailsRow .row {
  margin-right: 0;
}

.form__title {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
}

.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: -moz-linear-gradient(90deg, #ffd700 0%, #dbbb04 100%);
  background-image: -webkit-linear-gradient(90deg, #ffd700 0%, #dbbb04 100%);
  background-image: -ms-linear-gradient(90deg, #ffd700 0%, #dbbb04 100%);
  background-image: linear-gradient(90deg, #ffd700 0%, #dbbb04 100%);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 215, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 215, 0, 0.5);
  opacity: 0.85;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 10px;
}

.form__btn:hover {
  opacity: 1;
  color: #fff;
}

.form__btn--add {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.form__video {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}

.form__video input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  z-index: 1;
}

.form__video label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 50px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 50px 0 20px;
  letter-spacing: 0.2px;
  background-color: #2b2b31;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}

.form__video label:before {
  content: "";
  pointer-events: none;
  font-family: "Ionicons";
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 50px;
  font-size: 18px;
}

.form__image label:before {
  content: "\f147" !important;
  pointer-events: none;
  font-family: "Ionicons";
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 50px;
  font-size: 18px;
}

.form__video label:hover {
  color: #fff;
}

.form__gallery {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}

.form__gallery input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  z-index: 1;
}

.form__gallery label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 50px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 50px 0 20px;
  letter-spacing: 0.2px;
  background-color: #2b2b31;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}

.form__gallery label:before {
  content: "";
  pointer-events: none;
  font-family: "Ionicons";
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 50px;
  font-size: 18px;
}

.form__gallery label:hover {
  color: #fff;
}

.form__img {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #2b2b31;
  margin-bottom: 20px;
}

.form__img input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.form__img label {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  margin: 0;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}

.form__img label:hover {
  color: #fff;
}

.form__img img {
  position: absolute;
  z-index: 1;
  top: -100px;
  right: -100px;
  bottom: -100px;
  left: -100px;
  margin: auto;
  min-width: 100%;
  height: 400px;
  width: 270px;
}

.form__season {
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.form__season-title {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.form__delete {
  position: absolute;
  height: 24px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 10px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.form__delete:hover {
  color: #fff;
}

.addMovie--checkboxContainer {
  margin-bottom: 20px;
}

.addMovie--ageRatingDropdown {
  margin-bottom: px;
}

.addMovie--checkboxContainer .group--checkbox {
  padding-bottom: 5px;
}

.addMovie--checkboxContainer-heading {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.btnContainer .form__btn {
  margin: 0;
}

.suggestedMovie-select .react-dropdown-select-item {
  background-color: #2b2b31 !important;
  height: 25px;
  color: #fff;
}

.suggestedMovie-select svg {
  cursor: pointer;
}

@media (min-width: 768px) {
  .form {
    padding: 30px 20px;
  }

  .form__cover {
    -ms-flex: 0 0 290px;
    flex: 0 0 290px;
    max-width: 290px;
  }

  .form__content {
    -ms-flex: 0 0 calc(100% - 290px);
    flex: 0 0 calc(100% - 290px);
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .form {
    padding: 30px;
  }
}
