/*==============================
	Sign
==============================*/
.forgotPassword {
  display: block;
  position: relative;
}

.forgotPassword__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
}

.forgotPassword__form {
  background-color: #28282d;
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  position: relative;
}

.forgotPassword__form:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: block;
  background-image: -moz-linear-gradient(90deg, #ffd700 0%, #dbbb04 100%);
  background-image: -webkit-linear-gradient(90deg, #ffd700 0%, #dbbb04 100%);
  background-image: -ms-linear-gradient(90deg, #ffd700 0%, #dbbb04 100%);
  background-image: linear-gradient(90deg, #ffd700 0%, #dbbb04 100%);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 215, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 215, 0, 0.5);
}

.forgotPassword__logo {
  margin-bottom: 40px;
}

.forgotPassword__logo img {
  max-width: 172px;
}

.forgotPassword h4 {
  color: rgb(231, 215, 215);
  margin-bottom: 30px;
}

.forgotPassword__group {
  position: relative;
  margin-bottom: 20px;
}

.forgotPassword__text {
  margin-top: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

@media (min-width: 768px) {
  .forgotPassword__form {
    padding: 50px 60px;
  }
  .forgotPassword__logo {
    margin-bottom: 50px;
  }
}
