.styles_scroll-to-top__2A70v {
  background: transparent !important;
  box-shadow: none;
  color: #dbbb04 !important;
}

.styles_scroll-to-top__2A70v i {
  font-size: 40px !important;
}

.page {
  max-width: 100%;
  overflow-x: hidden;
}
